services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse_logs_analysis
    ports:
      - "8123:8123" # HTTP
      - "9000:9000" # native
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - ./init:/docker-entrypoint-initdb.d

volumes:
  clickhouse_data:
