apiVersion: 1
datasources:
  - name: ClickHouse
    type: grafana-clickhouse-datasource
    jsonData:
      defaultDatabase: default
      port: 8123
      host: clickhouse
      protocol: http
      username: grafana
    secureJsonData:
      password: grafana